server:
  port: 51805
spring:
  application:
    name: blogger-comment
  cloud:
    nacos:
      discovery:
        server-addr: 60.205.127.75:8848
      config:
        server-addr: 60.205.127.75:8848
        file-extension: yml